a:hover{color:black;underline:none;}
.tm-middle{margin:0 auto;text-align:center;}
.font24px{ font-size:24px !important;}
.fw400{font-weight:400;}

.banner{ padding-top:0px;}

.noborder{ border:none;}
.center{text-align:center !important;}
.textAlignLeft{text-align:left;}
.border{ border:1px #dadada solid;}
.noneborder{border:0px !important;}
.mxwidth{max-width:1200px; margin:0 auto !important;}
.mxwidth800{max-width:800px; margin:0 auto !important;}

.p0{padding:0px !important; margin:0 !important;}
.p030{ padding:0 150px !important;}
.pt40{ padding-top:40px !important;}

.pl25{padding-left:25px !important;}
.pl75{padding-left:75px !important;}
.p170{ padding:0 170px !important;}
.pb18{padding-bottom:18px !important;}
.pt18{padding-top:18px !important;}
.plnone{padding-left:0px !important;}
.mt0{margin-top:0px !important;}
.m0a{margin:0 auto !important;}
.mt10{margin-top:5px !important;}
.mb0{margin-bottom:0px !important;}
.mt60{margin-top:60px !important;}
.mt27{margin-top:27px !important;}
.mt40{margin-top:40px !important;}
.mb60{margin-bottom:60px !important;}
.mb80{margin-bottom:80px !important;}
.mt90{margin-top:90px !important;}
.bgcolorefefef{ background-color:#EFEFEF !important;}

.more{width:153px; height:28px; border:1px #717679 solid !important;padding:10px 0 0 0 !important; margin:0 auto;display:block; color:black; underline:none; text-align:center;}
.ml-15{ margin-left:-15px !important;}

.tl{text-align:left !important;}